[Unit]
Description=Clipboard-Go Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/clipboard-go
Restart=on-failure

[Install]
WantedBy=default.target
